.login-page {
  height: auto;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 50%;
}

input,
button {
  width: 70%;
  font-size: 1.5rem;
  background: #060606;
  text-align: center;
  margin: 10px 10%;
  border-style: solid;
  border-color: #1477D4;
  border-radius: 3px;
}

button {
  background: #1477D4;
  width: 30%;
}

.status {
  height: 25px;
  font-size: 1rem;
  overflow: hidden;
  text-align: center;
}

.chats-container {
  height: calc(100% - 25px - 32px);
}

.chat {
  width: 60%;
  margin: 3px 5px;
  word-wrap: break-word;
  color: #000000;
  background-color: #FFFFFF;
}

.chat-send {
  color: #FFFFFF;
  background-color: #1477D4;
  text-align: right;
  float: right;
}

.chat-author {
  font-size: 1rem;
}

.chat-message {
  font-size: 1.2rem;
}

.chat-time {
  font-size: 0.7rem;
}

.chat-form {
  height: 32px;
  position: fixed;
  bottom: 0;
  background-color: cadetblue;
}

.chat-input {
  width: 75%;
  background: #FFFFFF;
  text-align: left;
  margin: 0;
}

.chat-btns {
  width: 25%;
  float: right;
  overflow: hidden;
  display: inline;
}

.chat-btn {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  float: right;
  overflow: hidden;
  width: 10%;
}

.send-btn {
  background: #1477D4;
  width: 15%;
}

.loader-container-inactive {
  display: none;
}

.loader-container-active {
  position: fixed;
  left: 0;
  background: #000;
}

.loader-active {
  width: 80px;
  height: 80px;
  position: fixed;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  border-radius: 50%;
  border: 20px solid #BCD4EC;
  border-top: 20px solid #509BE0;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width : 720px) {
  .chat-form {
    width: 720px;
    margin: 0 auto;
  }
}