.login-page {
  height: auto;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 50%;
}

input,
button {
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 10%;
  border-style: solid;
  border-color: #000000;
  border-radius: 3px;
}

button {
  width: 30%;
}

.status {
  height: 20px;
  text-align: center;
}

.chats-container {
  height: calc(100% - 20px - 32px);
}

.chat {
  width: 60%;
  margin: 3px 0;
}

.chat-send {
  text-align: right;
  float: right;
}

.chat-author {
  font-size: 1rem;
}

.chat-message {
  font-size: 1.2rem;
}

.chat-time {
  font-size: 0.7rem;
}

.chat-form {
  height: 32px;
  position: fixed;
  background-color: rgb(13, 30, 30);
  bottom: 0;
}

.chat-form-element {
  width: 13%;
  height: 100%;
  margin: 0;
  font-size: 1.3rem;
  display: inline;
}

.message-input {
  text-align: left;
  width: 74%;
}

@media screen and (min-width : 720px) {
  .chat-form {
    width: 720px;
    margin: 0 auto;
  }
}