.login-page {
  font-size: 2rem;
  text-align: center;
  background: #bb69bb;
}

input,
button {
  border: 0px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  width: 70%;
}

button {
  width: 35%;
}

.status {
  height: 20px;
  background: rgb(172, 159, 149);
  text-align: center;
}

.chats-container {
  height: calc(100% - 20px - 32px);
  background: rgb(160, 223, 170);
}

.chat {
  width: 60%;
  background-color: #77dada;
  margin: 3px 0;
}

.chat-send {
  text-align: right;
  float: right;
}

.chat-author {
  font-size: 1rem;
}

.chat-message {
  font-size: 1.2rem;
}

.chat-time {
  font-size: 0.7rem;
}

.chat-form {
  height: 32px;
  position: fixed;
  bottom: 0;
}

.chat-form-element {
  width: 13%;
  height: 100%;
  font-size: 1.3rem;
  display: inline;
}

.message-input {
  text-align: left;
  width: 74%;
}